@charset "UTF-8";
/*
 autor: Laetitia Nanni
 2013
*/
@font-face {
  font-family: 'tozanshakregular';
  src: url("../font/tozanshak-webfont.eot");
  src: url("../font/tozanshak-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tozanshak-webfont.woff") format("woff"), url("../font/tozanshak-webfont.ttf") format("truetype"), url("../font/tozanshak-webfont.svg#tozanshakregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'shakuhachinotation';
  src: url("../font/shakuhachinotation-webfont.eot");
  src: url("../font/shakuhachinotation-webfont.eot?#iefix") format("embedded-opentype"), url("../font/shakuhachinotation-webfont.woff") format("woff"), url("../font/shakuhachinotation-webfont.ttf") format("truetype"), url("../font/shakuhachinotation-webfont.svg#tozanshakregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'komuso';
  src: url("../font/komuso-webfont.eot");
  src: url("../font/komuso-webfont.eot?#iefix") format("embedded-opentype"), url("../font/komuso-webfont.woff") format("woff"), url("../font/komuso-webfont.ttf") format("truetype"), url("../font/komuso-webfont.svg#komusoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  background: url("../img/background.png");
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

a {
  text-decoration: none; }
  a:focus {
    outline: 0; }

ul {
  padding: 0; }

.icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/sprite.png") no-repeat;
  text-indent: -9999px;
  transition: opacity 0.3s ease-in-out; }
  .icon.french {
    background-position: 5px -30px; }
  .icon.english {
    background-position: -54px -30px; }
  .icon.japanese {
    background-position: -28px -30px; }
  .icon.undo {
    background-position: 0px 0px; }
  .icon.redo {
    background-position: -40px 0px; }
  .icon.print {
    background-position: -90px 0px; }
  .icon.export-pdf {
    background-position: -142px 0px; }
  .icon.save {
    background-position: -192px 0px; }
  .icon.open-side-menu {
    width: 50px;
    background-position: -248px 0px; }
  .icon.close-side-menu {
    width: 50px;
    background-position: -306px 0px; }
  .icon.cut {
    background-position: -197px -37px; }
  .icon.newPartition {
    background-position: -255px 0px; }

figure.pick {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -10px;
  top: 36px; }

header {
  background-color: #2c2c2c;
  color: white; }
  header:after {
    content: "";
    /* Important, sinon l'élément n'est pas généré. */
    display: table;
    clear: both; }
  header .content {
    max-width: 98%;
    margin: 0 auto; }
  header h1 {
    margin: 0; }
    header h1 img {
      border: none;
      height: 42px;
      vertical-align: bottom; }
  header a {
    color: white;
    float: left;
    margin-left: 10px; }
  header #linguage {
    float: left;
    margin-top: 10px;
    overflow: auto; }
    header #linguage .icon {
      float: left;
      border: none; }
  header #menu-file {
    float: right; }
    header #menu-file ul {
      margin: 0; }
    header #menu-file li {
      float: left;
      border-left: 1px solid #636363;
      position: relative; }
      header #menu-file li:hover a {
        background: #444;
        border-top: 4px solid white;
        padding: 10px 12px; }
      header #menu-file li:hover a span {
        visibility: visible;
        bottom: -15px; }
      header #menu-file li:hover .icon {
        opacity: 0.9; }
      header #menu-file li a {
        transition: border 0.3s linear;
        padding: 12px;
        margin: 0;
        font-size: 0.8em;
        font-weight: normal; }
        header #menu-file li a span {
          transition: bottom 0.3s ease-in-out;
          visibility: hidden;
          position: absolute;
          z-index: 3;
          background: #444;
          bottom: 4px;
          left: 0px;
          min-width: 54px;
          padding: 2px 0px;
          text-align: center;
          line-height: 1; }
      header #menu-file li .icon {
        opacity: 0.3; }
      header #menu-file li:nth-child(2) {
        border-left: 0; }

.column {
  float: right; }

#side-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  z-index: 100;
  top: 0;
  right: 0px;
  padding: 20px;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: right;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-duration: 0.4s;
  -moz-transition-property: right;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0;
  -ms-transition-duration: 0.4s;
  -ms-transition-property: right;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0;
  -o-transition-duration: 0.4s;
  -o-transition-property: right;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0;
  transition-duration: 0.4s;
  transition-property: right;
  transition-timing-function: linear;
  transition-delay: 0; }
  #side-menu h1 {
    font-size: 16px;
    font-weight: normal; }
  #side-menu li:hover a {
    color: red; }
  #side-menu li figure {
    display: inline-block;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    cursor: pointer; }
  #side-menu li label {
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: visible;
    overflow: hidden; }
    #side-menu li label:hover {
      color: red; }
    #side-menu li label input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      border: solid transparent;
      border-width: 0 0 100px 200px;
      opacity: 0.0;
      filter: alpha(opacity=0);
      -o-transform: translate(250px, -50px) scale(1);
      -moz-transform: translate(-300px, 0) scale(4);
      direction: ltr;
      cursor: pointer;
      width: 0px; }
  #side-menu a {
    display: block;
    height: 40px;
    line-height: 30px;
    color: white;
    font-size: 12px; }
  #side-menu.open {
    right: 0; }
  #side-menu .icon.close-side-menu {
    left: -40px;
    position: absolute;
    top: 12px; }
  #side-menu input[type=file] {
    border: 1px solid #444; }

/********  Menu to add notes on score ********/
#menu-editor {
  float: right;
  padding: 20px;
  height: 100%; }
  #menu-editor nav ul {
    margin: 0; }
  #menu-editor nav li {
    position: relative;
    float: none;
    clear: both; }
    #menu-editor nav li .note-picker {
      display: block;
      width: 40px;
      height: 40px;
      background-color: white;
      border: 1px solid #CCC;
      text-align: center;
      font-size: 1.8em;
      padding: 5px;
      margin-bottom: 0px;
      float: right;
      font-family: komuso;
      color: #000000; }
      #menu-editor nav li .note-picker#current-effect {
        margin-bottom: 15px; }
      #menu-editor nav li .note-picker:hover {
        border: 1px solid red; }
      #menu-editor nav li .note-picker.blank {
        font-family: Arial;
        font-size: 1em;
        line-height: 2; }
    #menu-editor nav li .tremolo img {
      height: 100%; }
    #menu-editor nav li .bend img {
      height: 100%; }
    #menu-editor nav li .menu-sub {
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 0;
      float: right;
      margin-right: 15px;
      position: absolute;
      right: 49px;
      top: -15px;
      z-index: 4; }
      #menu-editor nav li .menu-sub .note-picker {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: none;
        color: white; }
      #menu-editor nav li .menu-sub li {
        clear: none; }
        #menu-editor nav li .menu-sub li .note {
          width: 30px;
          height: 30px; }
    #menu-editor nav li:hover .menu-sub, #menu-editor nav li .menu-sub .open {
      display: block; }

#score {
  height: 90%;
  width: 90%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden; }
  #score .sheet {
    position: relative;
    padding: 50px;
    background: white;
    border: 1px solid #ddd;
    margin: 15px 0;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset; }
    #score .sheet:last-child {
      margin-bottom: 20px; }
    #score .sheet .num-page {
      position: absolute;
      right: 30px;
      bottom: 30px; }
    #score .sheet #title {
      margin: 20px;
      float: right;
      text-align: center;
      font-size: 1em;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px dashed #CCC; }
      #score .sheet #title .toptobottom {
        width: 20px;
        word-wrap: break-word; }
      #score .sheet #title textarea {
        border: 0;
        background: none; }
    #score .sheet #cursor {
      height: 1px;
      background-color: red;
      border: 0;
      width: inherit; }
    #score .sheet .cursor {
      max-width: 100px;
      min-width: 90px;
      height: 50px;
      position: absolute;
      border-top: solid 3px #AAA;
      display: block; }
      #score .sheet .cursor.currentCursor {
        border-top: solid 2px #F70; }
  #score > .column {
    border-right: 1px dashed #CCC; }
  #score .column {
    max-width: 100px;
    min-width: 90px;
    height: 100%;
    text-align: center;
    border-left: 1px dashed #CCC; }
    #score .column h2 {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
      margin-bottom: 30px; }
  #score .clear {
    clear: both;
    height: 0;
    overflow: hidden;
    /* Précaution pour IE 7 */ }

.note {
  font-family: komuso;
  font-size: 2.5em;
  width: 50px;
  margin: 0px auto;
  position: relative;
  line-height: 1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
  .note:hover {
    background-color: #CCC; }
  .note:hover .note-selected {
    display: block; }
  .note.effect {
    height: 40px;
    width: 32px;
    background: red;
    margin: 0 auto;
    background: url(img/zigzag.png); }

.notes .note-selected {
  position: absolute;
  z-index: 1;
  top: 0; }
  .notes .note-selected nav {
    border: 30px solid rgba(0, 0, 0, 0);
    height: 32px;
    left: -27px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -28px;
    width: 32px; }
    .notes .note-selected nav ul {
      margin: 0; }
    .notes .note-selected nav > li {
      position: absolute;
      background: white;
      height: 45px;
      width: 45px; }
    .notes .note-selected nav .note-picker {
      background-color: white;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      border: 2px solid #a7a7a7;
      min-height: 45px;
      left: 0;
      position: absolute;
      top: -4px;
      transition: height 0.5s ease-in-out 0s;
      width: 45px; }
      .notes .note-selected nav .note-picker:hover .sub-note-picker {
        display: block; }
      .notes .note-selected nav .note-picker .sub-note-picker {
        display: none;
        font-size: 0.5em; }
        .notes .note-selected nav .note-picker .sub-note-picker li:last-child a {
          -webkit-border-bottom-right-radius: 50px;
          -webkit-border-bottom-left-radius: 50px;
          -moz-border-radius-bottomright: 50px;
          -moz-border-radius-bottomleft: 50px;
          border-bottom-right-radius: 50px;
          border-bottom-left-radius: 50px; }
        .notes .note-selected nav .note-picker .sub-note-picker .sub-note-menu:hover {
          background-color: #CCC; }
      .notes .note-selected nav .note-picker a {
        display: block;
        width: inherit;
        height: inherit; }
      .notes .note-selected nav .note-picker:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        position: absolute;
        outline: 1px solid transparent;
        top: -21px;
        background: url("../img/bg-bubble.png") no-repeat;
        height: 18px;
        margin-left: -17px;
        width: 25px; }
      .notes .note-selected nav .note-picker span {
        display: block; }
      .notes .note-selected nav .note-picker.rythme {
        -webkit-transform: rotate(0deg) translateY(70px);
        -moz-transform: rotate(0deg) translateY(70px);
        -ms-transform: rotate(0deg) translateY(70px);
        -o-transform: rotate(0deg) translateY(70px);
        transform: rotate(0deg) translateY(70px); }
        .notes .note-selected nav .note-picker.rythme span {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg); }
      .notes .note-selected nav .note-picker.effect {
        left: -60px;
        top: 33px; }
        .notes .note-selected nav .note-picker.effect:before {
          left: 60px;
          top: -11px;
          -webkit-transform: rotate(60deg) translateY(10px);
          -moz-transform: rotate(60deg) translateY(10px);
          -ms-transform: rotate(60deg) translateY(10px);
          -o-transform: rotate(60deg) translateY(10px);
          transform: rotate(60deg) translateY(10px); }
        .notes .note-selected nav .note-picker.effect > span {
          visible: hidden; }
        .notes .note-selected nav .note-picker.effect img {
          width: 50%; }
        .notes .note-selected nav .note-picker.effect li:last-child img {
          width: 20%; }
      .notes .note-selected nav .note-picker.color {
        background: blue;
        -webkit-transform: rotate(-57deg) translateY(66px);
        -moz-transform: rotate(-57deg) translateY(66px);
        -ms-transform: rotate(-57deg) translateY(66px);
        -o-transform: rotate(-57deg) translateY(66px);
        transform: rotate(-57deg) translateY(66px); }
        .notes .note-selected nav .note-picker.color span {
          -webkit-transform: rotate(57deg);
          -moz-transform: rotate(57deg);
          -ms-transform: rotate(57deg);
          -o-transform: rotate(57deg);
          transform: rotate(57deg); }
      .notes .note-selected nav .note-picker.delete, .notes .note-selected nav .note-picker.copy, .notes .note-selected nav .note-picker.past, .notes .note-selected nav .note-picker.cut {
        height: 20px;
        min-height: 20px;
        width: 20px;
        border: 0px solid #a7a7a7;
        padding: 1px; }
        .notes .note-selected nav .note-picker.delete span, .notes .note-selected nav .note-picker.copy span, .notes .note-selected nav .note-picker.past span, .notes .note-selected nav .note-picker.cut span {
          display: block;
          height: inherit;
          width: inherit;
          background-image: url("../img/sprite.png");
          background-repeat: no-repeat; }
      .notes .note-selected nav .note-picker.delete:before, .notes .note-selected nav .note-picker.copy:before, .notes .note-selected nav .note-picker.past:before, .notes .note-selected nav .note-picker.cut:before {
        border: 0;
        background: none;
        height: 13px;
        margin-left: 0;
        border-left: 2px solid #a7a7a7;
        top: -12px; }
      .notes .note-selected nav .note-picker.copy {
        left: 2px;
        background-color: #858585;
        -webkit-transform: rotate(141deg) translateY(31px);
        -moz-transform: rotate(141deg) translateY(31px);
        -ms-transform: rotate(141deg) translateY(31px);
        -o-transform: rotate(141deg) translateY(31px);
        transform: rotate(141deg) translateY(31px); }
        .notes .note-selected nav .note-picker.copy span {
          background-position: -104px -37px;
          -webkit-transform: rotate(-141deg);
          -moz-transform: rotate(-141deg);
          -ms-transform: rotate(-141deg);
          -o-transform: rotate(-141deg);
          transform: rotate(-141deg); }
      .notes .note-selected nav .note-picker.past {
        left: 11px;
        background: #858585;
        -webkit-transform: rotateX(187deg) translateY(32px);
        -moz-transform: rotateX(187deg) translateY(32px);
        -ms-transform: rotateX(187deg) translateY(32px);
        -o-transform: rotateX(187deg) translateY(32px);
        transform: rotateX(187deg) translateY(32px); }
        .notes .note-selected nav .note-picker.past span {
          background-position: -135px -37px;
          -webkit-transform: rotate(-187deg);
          -moz-transform: rotate(-187deg);
          -ms-transform: rotate(-187deg);
          -o-transform: rotate(-187deg);
          transform: rotate(-187deg); }
      .notes .note-selected nav .note-picker.delete {
        background: red;
        left: 21px;
        -webkit-transform: rotate(220deg) translateY(29px);
        -moz-transform: rotate(220deg) translateY(29px);
        -ms-transform: rotate(220deg) translateY(29px);
        -o-transform: rotate(220deg) translateY(29px);
        transform: rotate(220deg) translateY(29px); }
        .notes .note-selected nav .note-picker.delete span {
          background-position: -166px -37px;
          -webkit-transform: rotate(-220deg);
          -moz-transform: rotate(-220deg);
          -ms-transform: rotate(-220deg);
          -o-transform: rotate(-220deg);
          transform: rotate(-220deg); }
      .notes .note-selected nav .note-picker.cut {
        background-color: #858585;
        left: -7px;
        top: 6px;
        -webkit-transform: rotate(91deg) translateY(29px);
        -moz-transform: rotate(91deg) translateY(29px);
        -ms-transform: rotate(91deg) translateY(29px);
        -o-transform: rotate(91deg) translateY(29px);
        transform: rotate(91deg) translateY(29px); }
        .notes .note-selected nav .note-picker.cut span {
          background-position: -197px -37px;
          -webkit-transform: rotate(-91deg);
          -moz-transform: rotate(-91deg);
          -ms-transform: rotate(-91deg);
          -o-transform: rotate(-91deg);
          transform: rotate(-91deg); }

.notes .ui-selecting {
  background: #FECA40; }
.notes .ui-selected {
  background: #F39814;
  color: white; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 7;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: display 1s;
  -moz-transition: display 1s;
  -o-transition: display 1s;
  transition: display 1s; }
  .pace .pace-progress {
    background: #e33029;
    position: fixed;
    z-index: 2000;
    top: 52px;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s; }
  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 50%;
    right: 50%;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #e33029;
    border-left-color: #e33029;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite; }

.pace-inactive {
  display: none; }

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
