@charset "UTF-8";
/*
 autor: Laetitia Nanni
 2013
*/
@media only screen and (max-width: 920px) {
  #score {
    width: 89%; } }
@media only screen and (max-width: 836px) {
  #score {
    width: 87%; } }
@media only screen and (max-width: 707px) {
  #score {
    width: 85%; } }
@media only screen and (max-width: 613px) {
  #score {
    width: 83%; } }
@media only screen and (max-width: 541px) {
  #score {
    width: 81%; } }
@media only screen and (max-width: 484px) {
  #score {
    width: 77%; } }
@media only screen and (max-width: 399px) {
  #score {
    width: 73%; } }
@media only screen and (max-width: 339px) {
  #score {
    width: 67%; } }
@media only screen and (max-width: 279px) {
  #score {
    width: 57%; } }
@media screen {
  .phone {
    display: none; } }
/* Pour les téléphones ou petit écran */
@media handheld {
  #linguage {
    display: none; }

  #menu-file {
    display: none; }

  .phone {
    display: block;
    margin: 15% 20px;
    padding: 10px 20px;
    background-color: #dc6969;
    border: 1px solid #a5332f;
    color: #a5332f; }

  #menu-editor {
    display: none; }

  #score {
    display: none; } }
/**  PRINT  **/
@media print {
  @page {
    size: landscape; }

  header, #side-menu, #menu-editor, #menu-selection, .cursor {
    display: none !important; }

  .empty {
    border: 0; }

  body {
    height: auto !important;
    width: auto !important;
    margin: auto !important;
    font-family: serif;
    font-size: 12pt;
    background: white !important;
    color: black !important; }

  #score .sheet {
    page-break-after: always;
    margin: auto !important;
    height: 180mm;
    width: 277mm;
    box-shadow: none; }
    #score .sheet #title {
      border: 0; }
      #score .sheet #title #languageButton {
        display: none; }
    #score .sheet > .column {
      border: 0; }
      #score .sheet > .column.show-borders {
        border-left: 1px solid black; }
    #score .sheet .column {
      border: 0; }

  #score {
    float: none; }

  @-moz-document url-prefix() {
    @page {}
    #score {
      float: none;
      width: 300mm;
      margin: 0;
      padding: 0;
      margin-right: 4cm;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); } } }
