//settings
@import '_mixins';


@font-face {
    font-family: 'komuso';
    src: url('../font/komuso-webfont.eot');
    src: url('../font/komuso-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/komuso-webfont.woff') format('woff'),
         url('../font/komuso-webfont.ttf') format('truetype'),
         url('../font/komuso-webfont.svg#komusoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body {
	//height:100%;
	background: url('../img/background.png');
	@include selectable(none);
}



a {
	text-decoration: none;
	&:focus {
        outline:0;
    } 
}
ul {
	padding:0;
}

.icon {
	display: block;
	width: 30px;
	height: 30px;
	background: url('../img/sprite.png') no-repeat;
	text-indent: -9999px;
	transition: opacity 0.3s ease-in-out;

	&.french{ background-position: 5px -30px; }
	&.english{ background-position: -54px -30px; }
	&.japanese{ background-position: -28px -30px; }
	&.undo{ background-position: 0px 0px; }
	&.redo{ background-position: -40px 0px; }
	&.print{ background-position: -90px 0px; }
	&.export-pdf{ background-position: -142px 0px; }
	&.save{ background-position: -192px 0px; }
	&.open-side-menu { width: 50px; background-position: -248px 0px; }
	&.close-side-menu { width: 50px; background-position: -306px 0px; }
	&.cut { background-position: -197px -37px; }
	&.newPartition { background-position:-255px 0px; }
}


figure.pick {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent rgba(0,0,0,0.5);
	position: absolute;
    right: -10px;
    top: 36px;

}
header {
	background-color: #2c2c2c;
	color: white;
    width: 100%;
    z-index: 100;
    position: fixed;

	&:after {
	  content: ""; /* Important, sinon l'élément n'est pas généré. */
	  display: table;
	  clear: both;
	}
	.content {
		max-width: 98%;
		margin: 0 auto;
	}
	h1 {
		//font-size: 1em;
		margin: 0;
		img {
			border: none;
			height: 42px;
			vertical-align: bottom;
		}
	}
	a {
		color: white;
		float: left;
		margin-left: 10px;
	}
	#linguage {
		float: left;
	    margin-top: 10px;
	    overflow: auto;
		.icon {
			float: left;
			border: none;
		}
	}
	#menu-file {
		float: right;
		ul {
			margin: 0;
		}
		li {
			float: left;
			//padding: 12px;
			border-left: 1px solid #636363;
			position: relative;
			&:first-child a:first-child {
				//margin: 0;
				//margin-right: 10px;
			}
			&:hover a {
				background: #444;
				border-top: 4px solid white;
				padding: 10px 12px;
			}
			&:hover a span{
				visibility: visible;
				bottom: -15px;
			}
			&:hover .icon {
				opacity: 0.9;
			}
			a {
				transition: border 0.3s linear;
				padding: 12px;
				margin: 0;
				font-size: 0.8em;
				font-weight: normal;
				span {
					transition: bottom 0.3s ease-in-out;
					visibility: hidden;
					position: absolute;
					z-index: 3;
					background: #444;
					bottom: 4px;
					left: 0px;
					min-width: 54px;
    				padding: 2px 0px;
    				text-align: center;
    				line-height: 1;
				}

			}
			.icon {
				opacity: 0.3;

			}

			//vire la bordure un redo
			&:nth-child(2) {
				border-left: 0;
				//padding-left: 0;
			}
		}
	}
}

.column {
	//float: right;
    display: table-cell;
    direction: rtl;
}


#side-menu {
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	z-index: 100;
	top:0;
	right:0px;;
	padding: 20px;
	color: white;
	font-weight: normal;
	font-size: 13px;
	line-height: 1;

	form {
	}

	@include transitions(0.4s,right,linear);

	h1 {
		font-size: 16px;
		font-weight: normal;
	}
    nav {
      margin-bottom: 50px;
    }
    ul {
      list-style: none;
    }

	li {

		line-height:25px;

		&:hover a{
			color: red;
		}

		figure {
			display:inline-block;
			float:left;
			margin-right:10px;
			background-repeat:no-repeat;
			cursor:pointer;
		}

		label {

			position: relative;
            cursor: pointer;
            text-align: center;
            overflow: visible;
            overflow: hidden;

            &:hover {
            	color:red;
            }

			input {
				position: absolute;
	            top: 0;
	            right: 0;
	            margin: 0;
	            border: solid transparent;
	            border-width: 0 0 100px 200px;
	            opacity: 0.0;
	            filter: alpha(opacity=0);
	            -o-transform: translate(250px, -50px) scale(1);
	            -moz-transform: translate(-300px, 0) scale(4);
	            direction: ltr;
	            cursor: pointer;
	            width: 0px;
			}
		}
	}
	a {
		display: block;
		height:40px;
		line-height:30px;
		color: white;
		font-size: 12px;
	}
	&.open {
		right: 0;
	}
	.icon.close-side-menu {
	    left: -40px;
	    position: absolute;
	    top: 12px;
	}
	input[type=file]{
		border: 1px solid #444;
	}

	.buttonDownload {
		/*height:auto;*/
		margin-top:10px;
		transition:all 0.3s linear;

		&:hover {
			color:red;
		}
	}

    #credits{
      text-align: center;
      line-height: 1.2;

      h3 {
       font-size: 12px;
        margin: 0;
      }
      a {
        display: inline;
        line-height: 1;
        &:hover {
          color: cornflowerblue;
        }
      }
      img {
        width: 40px;
        margin-right: 20px;
      }
      p {
        font-size: 11px;
        margin: 0;
      }
    }
}

/********  Menu to add notes on score ********/

#menu-editor {
	float: right;
	padding: 20px;
	height: 100%;
    margin-top: 50px;
    position: fixed;
    right: 0;
    z-index: 2;

	nav {
		ul {margin:0;}
		li {
			position: relative;
			float: none;
			clear: both;

			.note-picker {
				display: block;
				width: 40px;
				height: 40px;
				background-color: white;
				border: 1px solid #CCC;
				//@include border-radius(50px);
				text-align: center;
				font-size: 1.8em;
				padding: 5px;
				margin-bottom: 0px;
				float: right;
				font-family: komuso;
				color: #000000;
				&#current-effect {
					margin-bottom: 15px;

				}
				&:hover {
					border: 1px solid red;

				}
				&.blank {
					font-family: Arial;
					font-size: 1em;
					line-height: 2;
				}
			}
			.tremolo {
				img {
					height: 100%;
				}
			}
			.bend {
				img {
					height: 100%;
				}
			}
			.menu-sub {
				//display: none;
				@include border-radius(30px);
				background: rgba(0,0,0,0.5);
				padding: 10px;
				margin: 0;
				float: right;
			    margin-right: 15px;
			    position: absolute;
			    right: 49px;
			    top: -25px;
			    z-index: 4;
                width: 105px;

			    .note-picker {
			    	@include border-radius(50px);
			    	background: none;
			    	color: white;
			    }
				li {
                    float: left;
					clear: none;
					.note {
						width: 30px;
						height: 30px;
					}
				}
			}
			&:hover .menu-sub, .menu-sub .open {
				display:block;
			}
		}
	}
}
#score,#score2 {
	width: 90%;
	position: relative;
    float: left;

	.sheet {
		position: relative;
		padding: 50px;
		background: white;
		border: 1px solid #ddd;
		margin: 70px 0px 20px 20px;
		min-height: 675px;
        clear: both;
        overflow: hidder;
        direction: rtl;

		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.05) inset;
		&:last-child{
			margin-bottom: 20px;
		}
		.num-page {
			position: absolute;
			right: 30px;
			bottom: 30px;
		}
		#title {
			text-align: center;
			font-size: 1em;
			padding: 10px;
			@include border-radius(5px);
			border: 1px dashed #CCC;
            direction: ltr;

			&.jap {
				margin: 20px;
				float: right;
			}
			&.french {

				width:90%;
				margin-left:50px;
				margin-top:-30px;
				margin-bottom:20px;

				textarea {
					width:100%;
					text-align:center;
				}
			}
			.toptobottom {
				width: 20px;
				word-wrap: break-word;
			}
			textarea {
				border: 0;
				background: none;
                resize: none;
			}

			a {
				display:block;
				position:absolute;
				padding:5px;
				color:#aaa;
				border: 1px dashed #aaa;
				@include border-radius(5px);
				@include transitions(0.4s,right,linear);
				cursor:pointer;

				&.buttonJap {
					margin-top:-27px;
					margin-left:-60px;
				}

				&.buttonFrench {
					margin-left:4px;
					margin-top:25px;
				}

				&:hover {
					color:#000;
				}
			}
		}
		#cursor {
			height: 1px; 
			background-color:red;
			border: 0;
			width: inherit;
		}
		.cursor {
			max-width: 100px;
    		min-width: 85px;
    		height: 50px;
			position:absolute; 
			border-top:solid 4px #AAA;
			display:block;
			&.currentCursor {
				border-top: solid 4px red;
			}
		}
	}

	> .column {
		border-right: 1px dashed #CCC;
        &.show-borders {
            border-right: 1px solid black;
        }
	}
	.column {
		max-width: 100px;
    	min-width: 84px;
		height: 100%;
		text-align: center;
		border-left: 1px dashed #CCC;
        &.show-borders {
            border-left: 1px solid black;
        }

		h2{
			margin: 0;
			font-size: 1em;
			font-weight: normal;
			margin-bottom: 30px;
		}
		
	}
	.clear {
	  clear: both;
	  height: 0; overflow: hidden; /* Précaution pour IE 7 */
	}
}


.note {
	font-family: komuso;
	font-size: 2.5em;
	width: 50px;
	margin: 0px auto;
	position: relative;
    line-height: 1;
    text-align: left;

	@include border-radius(2px);
	&:hover {
		background-color:#CCC;
	}
	&:hover .note-selected {
		display:block;
	}
	&.effect {
		height: 40px;
	    width: 32px;
	    background: red;
	    margin: 0 auto;
	}
    .effect-top-left {
      position: absolute;
      font-size: 18px;
      top: -6px;
      left: -5px;
    }
    .effect-bottom-right, .effect-top-right, .effect-middle-right {
      position: absolute;
      font-size: 18px;
      right: -6px;
    }
    .effect-top-right {
      top: 0px;
    }
    .effect-middle-right {
      top: 15px;
    }
    .effect-bottom-right {
      top: 30px;
    }
    .effect-bottom-middle {
      left: 9px;
      top: 21px;
      position: absolute;
      //max-height: 24px;

    }
    .effect-middle-right + .effect-bottom-middle {
      margin-top: 2px;
    }
    .effect-bottom-left {
      position: absolute;
      font-size: 20px;
      top: 33px;
      left: -8px;
    }

    //time

      .effect-time-1 {
       position:absolute; top:0px; right:-10px; border-right: 2px solid black; height:40px;

      }
      .effect-time-2 {
        position:absolute; top:0px; right:-10px; border-left: 2px solid black; border-right: 2px solid black; height:40px; width: 3px;
      }

      .effect-time-1-center {
        position:absolute; top:0px; left:40%; border-right: 2px solid black; height:40px;

      }
      .effect-time-2-center {
        position:absolute; top:0px; left:35%; border-left: 2px solid black; border-right: 3px solid black; height:40px; width: 3px;
      }
      &.long {
        padding: 25px 0;
      }
      &.mid {
        padding: 15px 0;
      }

}

.notes {
		.note-selected {
		//display:none;
	    position: absolute;
	    z-index: 1;
	    top:0;

	    nav {
		    border: 30px solid rgba(0, 0, 0, 0);
		    height: 32px;
		    left: -27px;
		    list-style: none outside none;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: -28px;
		    width: 32px;
		    ul {
		    	margin: 0;
		    }
		    &>li {
		    	position: absolute;
		    	background: white;
		    	height: 45px;
			    width: 45px;

		    }

			.note-picker {
				background-color: white;
				@include border-radius(50px);
				border: 2px solid #a7a7a7;
				min-height: 45px;
			    left: 0;
			    position: absolute;
			    top: -4px;
			    transition: height 0.5s ease-in-out 0s;
			    width: 45px;
			    //background: url('bg-bubble.png');
			    &:hover .sub-note-picker {
					display: block;
				}

				.sub-note-picker {
					display: none;
					font-size: 0.5em;
                    width: 30px;
                    margin: 0 5px;
                    height: 30px;
                    line-height: 1;

					li:last-child a {
						-webkit-border-bottom-right-radius: 50px;
						-webkit-border-bottom-left-radius: 50px;
						-moz-border-radius-bottomright: 50px;
						-moz-border-radius-bottomleft: 50px;
						border-bottom-right-radius: 50px;
						border-bottom-left-radius: 50px;
					}
					.sub-note-menu {
						&:hover {
							background-color: #CCC;
						}

					}
				}

			    a{
			    	display: block;
			    	width: inherit;
			    	height: inherit;
			    }


				&:before { 
					bottom: 100%; 
					left: 50%; 
					border: solid transparent; 
					content: " "; 
					position: absolute; 
					outline: 1px solid transparent;
					top: -21px;
					background: url('../img/bg-bubble.png') no-repeat;
				    height: 18px;
				    margin-left: -17px;
				    width: 25px;
				}

			    $space: 70px;

			    span { 
			    	display: block;
			    }
			    &.rythme {
			    	@include transform(rotate(0deg) translateY($space));
			    	span {@include transform(rotate(0deg));}
			    }
			    &.effect {
			    	//@include transform(rotate(60deg) translateY($space));
			    	left: -60px;
    				top: 33px;
			    	//span {@include transform(rotate(-60deg));}
			    	//.sub-note-picker {@include transform(rotate(-60deg));}
			    	&:before {
			    	    left: 60px;
    					top: -11px;
			    		@include transform(rotate(60deg) translateY(10px));
			    	}
			    	> span {
			    		visible :hidden;
			    	}
			    	img {
			    		width: 50%;
			    	}
			    	li:last-child img{
			    		width: 20%;
			    	}

			    }
			    &.color {
			    	background: blue;
			    	@include transform(rotate(-57deg) translateY(66px));
			    	span {@include transform(rotate(57deg));}

			    }
			    
			    &.delete,&.copy,&.past,&.cut {
			    	height: 20px;
			    	min-height: 20px;
			    	width: 20px;
			    	border: 0px solid #a7a7a7;
					padding: 1px;

			    	span {
			    		display: block;
					    height: inherit;
					    width: inherit;
			    		background-image:url('../img/sprite.png');
			    		background-repeat: no-repeat;
			    	}

			    }
			    &.delete:before,&.copy:before,&.past:before, &.cut:before {
					 	border:0;
					 	background: none;
					 	height: 13px;
					 	margin-left: 0;
					 	border-left: 2px solid #a7a7a7;
					 	top:-12px;

				}
			    &.copy {
			    	left: 2px;
			    	background-color:#858585;
			    	@include transform(rotate(141deg) translateY(31px));
			    	span { background-position: -104px -37px; @include transform(rotate(-141deg));}
			    }
			    &.past {
			    	left: 11px;
			    	background:#858585;
			    	@include transform(rotateX(187deg) translateY(32px));
			    	span { background-position: -135px -37px; @include transform(rotate(-187deg));}
			    }
			    &.delete {
			    	background: red;
			    	left: 21px;
			    	@include transform(rotate(220deg) translateY(29px));
			    	span { background-position: -166px -37px; @include transform(rotate(-220deg));}

			    }
			    &.cut {
			    	background-color: #858585;
				    left: -7px;
				    top: 6px;
			    	@include transform(rotate(91deg) translateY(29px));
			    	span { background-position: -197px -37px; @include transform(rotate(-91deg));}
			    }
			}
	    }
	}
}


.notes2 {
		.note-selected {
		//display:none;
	    position: absolute;
	    z-index: 1;
	    top:0;


	    nav {
		    border: 30px solid rgba(0, 0, 0, 0);
		    height: 32px;
		    left: -74px;
		    list-style: none outside none;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    top: -28px;
		    width: 32px;
		    ul {
		    	margin: 0;
		    }
		    &>li {
		    	position: absolute;
		    	background: white;
		    	height: 45px;
			    width: 45px;

		    }

			.note-picker {
                border: 1px solid #b66d68;
                background: #e38882;
                width: 15px;
                position: absolute;
                height: 15px;
                font-size: 18px;

                .sub-note-picker {
                    display: none;
                    font-size: 1.2em;
                    padding: 2px;
                    position: absolute;
                    top: 0;
                    left: 16px;
                    width: 90px;
                    background: #e38882;
                    &:first-child {
                      background: red;
                    }
                    li {
                        float: left;
                        padding: 2px;
                      &:hover {
                        background: #ffffff;
                      }

                    }
				}

                &.sub-corner-top {
                    left: 40px;
                    top: -7px;

                }
                &.sub-corner-middle {
                    top: 13px;
                    left: 40px;

                }
                &.sub-corner-bottom-middle {
                    top: 33px;
                    left: 15px;
                }
                &.sub-corner-bottom {
                    top: 33px;
                    left: 40px;

                }
                &.sub-corner-bottom-left {
                    left: -8px;
                    top: 33px;
                    .sub-note-picker {
                        left: -55px;
                        width: 50px;
                    }
                }
                &:hover {
                     background: #CCC;

                }
                  &:hover .sub-note-picker {
                  display: block;
				}
				&.bubble:before {
					bottom: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					position: absolute;
					outline: 1px solid transparent;
					top: -19px;
					background: url('../img/bg-bubble.png') no-repeat;
				    height: 18px;
				    margin-left: -17px;
				    width: 25px;
				}
                &.bubble {
                  	background-color: white;
                    @include border-radius(50px);
                    border: 2px solid #a7a7a7;
                    min-height: 35px;
                    width: 35px;
                }
			    &.color {

			    	background: blue;
			    	@include transform(rotate(-270deg) translateY(55px));
			    }
              &.delete {
                top: -11px;
                left: -13px;
                position: absolute;
                background:url('../img/sprite.png') no-repeat #FF0000;
                font-family: arial, sans-serif;
                color: white;
                background-position: -168px -40px;
                @include border-radius(20px);
              }
                /*
				.sub-note-picker {
					font-size: 0.5em;
					li:last-child a {
						-webkit-border-bottom-right-radius: 50px;
						-webkit-border-bottom-left-radius: 50px;
						-moz-border-radius-bottomright: 50px;
						-moz-border-radius-bottomleft: 50px;
						border-bottom-right-radius: 50px;
						border-bottom-left-radius: 50px;
					}
					.sub-note-menu {
						&:hover {
							background-color: #CCC;
						}

					}
				}

			    a{
			    	display: block;
			    	width: inherit;
			    	height: inherit;
			    }

*/

			}
	    }
	}
}

.notes2 {
	.ui-selecting { 
		background: #e35249;
	}
    .long.ui-selected {
        padding: 25px 0;
    }
    .mid.ui-selected {
        padding: 15px 0;
    }
	.ui-selected {
		background: #E35249;
        color: white;
        padding: 5px 0;
        @include transitions(0.3s, padding, ease, 0s);
	}

}

$color_loader : #e33029;
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	background: rgba(0,0,0,0.2);
	position: fixed;
	width:100%;
	z-index: 7;
	top: 0;
	left: 0;
	bottom: 0;

	-webkit-transition: display 1s;
	-moz-transition: display 1s;
	-o-transition: display 1s;
	transition: display 1s;

	.pace-progress {
		background: $color_loader;
		position: fixed;
		z-index: 2000;
		top: 52px;
		left: 0;
		height: 2px;

		-webkit-transition: width 1s;
		-moz-transition: width 1s;
		-o-transition: width 1s;
		transition: width 1s;
	}
	.pace-activity {
		display: block;
		position: fixed;
		z-index: 2000;
		top: 50%;
		right: 50%;
		width: 14px;
		height: 14px;
		border: solid 2px transparent;
		border-top-color: $color_loader;
		border-left-color: $color_loader;
		border-radius: 10px;
		-webkit-animation: pace-spinner 400ms linear infinite;
		-moz-animation: pace-spinner 400ms linear infinite;
		-ms-animation: pace-spinner 400ms linear infinite;
		-o-animation: pace-spinner 400ms linear infinite;
		animation: pace-spinner 400ms linear infinite;
	}

}

.pace-inactive {
  display: none;
}



@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


.test { }
