{% load i18n %}
{% load static %}

<header>
<div class="content">
	
	<h1><a href="" title="application komuso"><img src="{% static 'img/logo_komuso.png' %}"></a></h1>       
	<nav id="linguage">
	    <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
		    <input type="submit" class="icon french" name="language" value="fr" />
		    <input type="submit" class="icon english" name="language" value="en" />
		    <input type="submit" class="icon japanese" name="language" value="ja" />
		</form>
	</nav>
	<nav id="menu-file">
		<ul>
			<li><a class="icon undo" href="">undo</a></li>
			<li><a class="icon redo" href="">redo</a></li>
			<li><a class="icon print" href="">print</a></li>
			<li><a class="icon export-pdf" href="">export-pdf</a></li>
			<li><a class="icon save saveButton" href="">save</a></li>
			<li><a class="icon open-side-menu" href="">save</a></li>

		</ul>
	</nav>
</div>
</header>
