{% load i18n %}
{% load static %}

<header>
<div class="content">
	
	<h1><a href="" title="application komuso"><img src="{% static 'img/logo_komuso.png' %}"></a></h1>       
	<nav id="linguage">
	    <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
		    <input type="submit" class="icon french lang" name="language" value="fr" />
		    <input type="submit" class="icon english lang" name="language" value="en" />
		    <input type="submit" class="icon japanese lang" name="language" value="ja" />
		</form>
	</nav>
	<nav id="menu-file">
		<ul>
			<li>
				<a href="">
					<span class="label">{% trans "label_undo"%}</span>
					<figure class="icon undo"></figure>
				</a>
			</li>
			<li>
				<a href="">
					<span class="label">{% trans "label_redo"%}</span>
					<figure class="icon redo"></figure>
				</a>
			</li>
			<li>
				<a href="">
					<span class="label">{% trans "label_print_document" %}</span>
					<figure class="icon print"></figure>
				</a>
			</li>
			<li>
				<a id="export-pdf" href="">
					<span class="label">{% trans "label_export_pdf" %}</span>
					<figure class="icon export-pdf"></figure>
					<form id="form-export-pdf" action="export-pdf/" method="get">{% csrf_token %}<input id="partition-pdf" type="hidden" name="partition" value=""></form>
				</a>
			</li>
			<li>
				<a class="saveButton" href="">
					<span class="label">{% trans "label_save_document" %}</span>
					<figure class="icon save"></figure>
				</a>
			</li>
			<li>
				<a href="">
				<figure class="icon open-side-menu"></figure>
				</a>
			</li>

		</ul>
	</nav>
</div>
</header>
