<header>
<div class="content">
	
	<a href="">LOGO</a>
	<nav id="linguage">
		<a class="icon french" href="">FR</a>
		<a class="icon english" href="">ENG</a>
		<a class="icon japanese" href="">JAP</a>
	</nav>
	<nav id="menu-file">
		<ul>
			<li>
				<a class="icon undo" href="">undo</a>
				<a class="icon redo" href="">redo</a>
			</li>
			<li><a class="icon print" href="">print</a></li>
			<li><a class="icon export-pdf" href="">export-pdf</a></li>
			<li><a class="icon save" href="">save</a></li>
		</ul>
	</nav>
</div>
</header>