{% extends "base.html" %}
{% block title %} Test {% endblock %}
{% block content %}
<section id="menu-editor" class="column">
    <nav id="menu-notes">
        <ul>
            <li>
                <a class="note-picker" href="">a</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker" href="" value="ro">ro</a></li>
                        <li><a class="note-picker" href="" value="tsu">tsu</a></li>
                        <li><a class="note-picker" href="" value="re">re</a></li>
                        <li><a class="note-picker" href="" value="chi">chi</a></li>
                        <li><a class="note-picker" href="" value="ri">ri</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="note-picker" href="">b</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker" href="">note 2.1</a></li>
                        <li><a class="note-picker" href="">note 2.2</a></li>
                        <li><a class="note-picker" href="">note 2.3</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="note-picker" href="">c</a></li>
        </ul>
    </nav>
</section>

<section id="score" class="column">
<section class="sheet">
    <section id="title" class="empty">
        <!--<h1 class="toptobottom">Titre de la partition</h1>-->
        <form>
            <textarea rows="20" cols="1"　placeholder="Titre de la partition">
            </textarea>
            <!--<input type="text" name="score-title">-->
        </form>
    </section>

    <div class="column">
        <h2 class="cols_numbers">1</h2>
        <!--<div class="note ro">&#12525;</div>-->
        <!--<div class="note ro">a
            <div class="note-selected">
                <nav class="menu-edit-note circles" >
                    <a class="note-picker p1" href="">g</a>
                    <a class="note-picker p2" href="">h</a>
                    <a class="note-picker p3" href="">i</a>
                </nav>
            </div>
        </div>
        <div class="note tsu">b</div>
        <div class="note hi">c</div>
        <div class="note">d</div>
        <div class="note">e</div>
        <div class="note">f</div>-->
        <div id="notes"></div>

    </div>
    <!--
    <div class="column">
        <h2 class="cols_numbers">2</h2>
        <div class="note ro">a
            <div class="note-selected">
                <nav class="menu-edit-note circles" >
                    <ul>
                        <li><a class="note-picker p1" href=""><span>a</span></a></li>
                        <li><a class="note-picker p2" href=""><span>a</span></a></li>
                        <li><a class="note-picker p3" href=""><span>a</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="clear"></div> 
    -->

</section>
    
    <!--

<section class="sheet">
    {% for i in "xxxxxxxx" %}
            
        <div class="column">
            <h2 class="cols_numbers">{{ forloop.counter0 }}</h2>
        </div>
    {% endfor %}
    
    <div class="clear"></div>
</section>

-->

</section>
    
{% endblock %}
