{% extends "base.html" %}
{% block title %} Test {% endblock %}
{% block content %}
<section id="menu-editor" class="column">
    <nav id="menu-notes">
        <ul>
            <li>
                <a class="note-picker" href="">a</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker" href="">note 1.1</a></li>
                        <li><a class="note-picker" href="">note 1.2</a></li>
                        <li><a class="note-picker" href="">note 1.3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="note-picker" href="">b</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker" href="">note 2.1</a></li>
                        <li><a class="note-picker" href="">note 2.2</a></li>
                        <li><a class="note-picker" href="">note 2.3</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="note-picker" href="">c</a></li>
        </ul>
    </nav>
</section>

<section id="score" class="column">
<section class="wrapper">
    <section id="title" class="empty">
        <h1 class="toptobottom">Titre de la partition</h1>
    </section>

   
    <div class="column">
        <h2>1</h2>
        <!--<div class="note ro">&#12525;</div>-->
        <div class="note ro">a
            <div class="note-selected">
                <nav class="menu-edit-note circles" >
                    <a class="note-picker p1" href="">g</a>
                    <a class="note-picker p2" href="">h</a>
                    <a class="note-picker p3" href="">i</a>
                </nav>
            </div>
        </div>
        <div class="note tsu">b</div>
        <div class="note hi">c</div>
        <div class="note">d</div>
        <div class="note">e</div>
        <div class="note">f</div>

    </div>
    <div class="column">
        <span>2</span>
    </div>
    <div class="column">
        <span>3</span>
    </div>




    <div class="clear"></div>
</section>
    
</section>
    
{% endblock %}
