{% extends "base.html" %}
{% block title %} Test {% endblock %}
{% block content %}
<section id="menu-editor" class="column">
    <nav id="menu-notes">
        <ul>
            <li>
                <a class="note" href="">note 1</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note" href="">note 1.1</a></li>
                        <li><a class="note" href="">note 1.2</a></li>
                        <li><a class="note" href="">note 1.3</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="note" href="">note 2</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note" href="">note 2.1</a></li>
                        <li><a class="note" href="">note 2.2</a></li>
                        <li><a class="note" href="">note 2.3</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="note" href="">note 3</a></li>
        </ul>
    </nav>
</section>

<section id="score" class="column">
<section class="wrapper">
    <section id="title" class="empty">
        
    </section>

   
    <div class="column">
        <span>1</span>
    </div>
    <div class="column">
        <span>2</span>
    </div>
    <div class="column">
        <span>3</span>
    </div>




    <div class="clear"></div>
</section>
    
</section>
    
{% endblock %}
