{% load i18n %}
{% load static %}
<section id="menu-editor" class="column">
    <nav id="menu-notes">
        <ul>


            <li>
                <a class="note-picker note-menu" id="current-beat" href="">'</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu beat" href="">'</a></li>
                        <li><a class="note-picker note-menu beat" href="">|</a></li>
                        <li><a class="note-picker note-menu beat" href="">||</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a class="note-picker note-menu" href=""></a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li class="effect-none"><a class="note-picker note-menu effect-menu" href=""> &nbsp;</a></li>
                        <li class="tremolo"><a class="note-picker note-menu effect-menu" href=""><img src="{% static 'img/zigzag.png' %}"></a></li>
                        <li class="bend"><a class="note-picker note-menu effect-menu" href=""><img src="{% static 'img/eclair.png' %}"></a></li>
                    </ul>
                </div>
            </li>

            {% for note in main_notes %}
            {% autoescape off %}
                {% if note.type != 'note' and note.type != 'effect-note' %}
                <!--<li>
                    <a class="note-picker note-menu" id="current-{{ note.type }}" href=""></a>
                    <div class="menu-sub">
                        <figure class="pick"></figure>
                        <ul>
                            <li class="effect-none"><a class="note-picker note-menu effect-menu" href=""> &nbsp;</a></li>
                            {% for sub_note in note.sub_notes %}
                            <li><a class="note-picker note-menu clic-{{ note.type }}" href="" name="{{ note.type }}"> {{ sub_note.letter }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>-->
                {% else %}
                <li>
                    <a class="note-picker note-menu" href="">{{ note.letter|escape }}</a>
                    <div class="menu-sub">
                        <figure class="pick"></figure>
                        <ul>
                            {% for sub_note in note.sub_notes %}
                            <li><a class="note-picker note-menu {{ note.type }}" href="" name="{{ note.type }}"> {{ sub_note.letter }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endif %}
            {% endautoescape %}
            {% endfor %}

            <li><a class="note-picker note-menu ton blank" href="" value="blank">blank</a></li>
            <li><a class="note-picker delete-menu" href="">X</a></li>
        </ul>
    </nav>
</section>
