{% load i18n %}
{% load static %}
<section id="menu-editor" class="column">
    <nav id="menu-notes">
        <ul>
            <li>
                <a class="note-picker note-menu" id="current-beat" href="">'</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu beat" href="">'</a></li>
                        <li><a class="note-picker note-menu beat" href="">|</a></li>
                        <li><a class="note-picker note-menu beat" href="">||</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="note-picker note-menu" id="current-effect" href=""> &nbsp;</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li class="effect-none"><a class="note-picker note-menu effect-menu" href=""> &nbsp;</a></li>
                        <li class="tremolo"><a class="note-picker note-menu effect-menu" href=""><img src="{% static 'img/zigzag.png' %}"></a></li>
                        <li class="bend"><a class="note-picker note-menu effect-menu" href=""><img src="{% static 'img/eclair.png' %}"></a></li>
                    </ul>
                </div>
            </li>
            <li>
            <!-- RO -->
                <a class="note-picker note-menu" href="">c</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu ton" href="" value="ro-1">a</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="ro-2">b</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="ro">c</a></li>
                        <li><a class="note-picker note-menu ton blank" href="" value="blank">blank</a></li>
                    </ul>
                </div>
            </li>
            <li>
            <!-- TSU -->
                <a class="note-picker note-menu" href="">f</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu ton" href="" value="tsu-1">d</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="tsu-2">e</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="tsu">f</a></li>
                    </ul>
                </div>
            </li>
            <li>
            <!-- RE -->
                <a class="note-picker note-menu" href="">i</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu ton" href="" value="re-1">g</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="re-2">h</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="re">i</a></li>
                    </ul>
                </div>
            </li>
            </li>
            <li>
            <!-- RI -->
                <a class="note-picker note-menu" href="">r</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu ton" href="" value="ri-1">p</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="ri-2">q</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="ri">r</a></li>
                    </ul>
                </div>
            </li>
            <li>
            <!-- HI -->
                <a class="note-picker note-menu" href="">D</a>
                <div class="menu-sub">
                    <figure class="pick"></figure>
                    <ul>
                        <li><a class="note-picker note-menu ton" href="" value="hi-1">A</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="hi-2">B</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="hi-3">C</a></li>
                        <li><a class="note-picker note-menu ton" href="" value="hi">D</a></li>

                    </ul>
                </div>
            </li>
            <li><a class="note-picker delete-menu" href="">X</a></li>
        </ul>
    </nav>
</section>
