{% load i18n %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Komuso</title>
    </head>
    <body>
        {% get_available_languages as LANGUAGES %}
        <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% ifequal language.code LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ language.name_local|capfirst }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="OK" />
        </form>
        <h1>{% trans "Bonjour" %}</h1>
    </body>
</html>
